@import "~swiper/css";
@import "~swiper/css/navigation";
@import "~swiper/css/pagination";
@import "~swiper/css/scrollbar";

body,
#__next,
html {
  height: 100vh;
  height: -webkit-fill-available;
}

label {
  display: block;
  margin-bottom: 0.2rem;
}

.SidePane_sidePane__2RWR- {
  z-index: 7 !important;
}

.drawer-button-wrapper {
  position: fixed;
  bottom: 10px;
  left: -10px;
  width: 100%;
  align-items: center;
  justify-content: right;
  z-index: 999;
}